@import '../../styles/globalVariables.scss';

$formheight: 60px;

.ChatForm {
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 100px;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 10;
  background: white;

  &__form {
    width: 1000px;
    min-height: 60px;
    height: auto;
    display: flex;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 50px 0 50px 50px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    @media screen and (max-width:1040px) {
      width: 80vw;
    }
  }

  &__file {
    display: none;
  }

  &__label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;

    @media screen and (max-width:600px) {
      width: 50px;
      height: 50px;
    }
  }

  &__addImg {
    width: 40px;
    height: 40px;

    @media screen and (max-width:600px) {
      width: 35px;
      height: 35px;
    }
  }

  &__textdiv {
    padding: 5px 0;
    width:80%;
    height: auto;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    line-height: 22px;
    font-size: 18px;
    font-weight: 400;
    color: rgb(34, 34, 34);
    outline: none;

    &:empty:before {
      content: attr(data-placeholder);
      color:rgb(86, 86, 86);
    }

    &:hover,
    &:focus {
      cursor: text;
    }


    @media screen and (max-width:600px) {
      width: 65%;
    }
  }


  &__send {
    background: $bgBlue;
    width: 100px;
    height: $formheight;
    border: 1px solid $bgBlue;
    border-radius: 60px 0 60px 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width:600px) {
      width:80px;
      border-radius: 40px 0 40px 40px;
    }
  }

  &__sendImg {
    width: 40px;
    height: 40px;
    transform: rotate(-45deg) translateX(8px);

    @media screen and (max-width:600px) {
      width: 35px;
      height: 35px;
    }
  }
}
